<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>This is a title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Kernic, Corentin Le Gall, Portfolio">
        <meta name="description" content="Website dedicated to show my work">
        <meta name="og:image" content="../img/banner.png">
        <meta name="og:image:type" content="image/png">
        <meta name="og:image:size" content="1050, 600">
        <link rel="icon" href="../img/Setaz_Inc.png">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
    </body>
</html>